/** Borders **/
.white-black-border {
  @apply bg-js-white border-js-black border-[0.7rem] lg:border-[0.9rem] xl:border-[1rem] 2xl:border-[1.15rem];
}

.just-black-border {
  @apply bg-js-black border-js-black border-[0.7rem] lg:border-[0.9rem] xl:border-[1rem] 2xl:border-[1.15rem];
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.js-math-treatments {
  font-weight: 500;
  line-height: 120%;
}

/* Line link */
a.line-link {
  position: relative;
  display: inline-block;
  outline: none;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  width: auto;

  &::before {
    content: '';
    position: absolute;
    bottom: 0.4ch;
    width: 100%;
    max-width: 100%;
    height: 0.2ch;
  }

  &.hover-on::before {
    @apply border-none border-0;
    transition: all 0.6s cubic-bezier(0.2, 0.6, 0.2, 1);
    z-index: -1;
  }

  &.hover-on:hover::before {
    @apply border-js-black border-solid border-[.5rem];
    width: 25%;
    height: 2ch;
    transform: translate(-0.75ch, 0) rotate(90deg);
    transition: all 0.6s cubic-bezier(0.2, 0.6, 0.2, 1);
  }
}

a.red.line-link:before {
  background-color: theme('colors.js-red');
}

a.blue.line-link:before {
  background-color: theme('colors.js-blue');
}

a.yellow.line-link:before {
  background-color: theme('colors.js-yellow');
}

/* Button */
a.btn {
  @apply font-overpass-mono font-light uppercase text-[1.5ch] lg:text-[2ch] 2xl:text-[2.5ch] w-[150px] lg:w-[200px] 2xl:w-[250px];
  border: solid 0.65ch theme('colors.js-black');
  border-radius: 100px;
  box-shadow: inset 0 0 0 0px theme('colors.js-black');
  padding: 1ch 2.5ch 0.8ch 2.5ch;
  text-align: center;
  letter-spacing: 0.1em;
  line-height: 1.3;
  transition: border-radius 0.3s, box-shadow 0.3s, color 0.3s;
	transition-timing-function: cubic-bezier(0.7, 0, 0.2, 1);
}

/* Button Hover */
a.btn:hover {
	color: theme('colors.js-white');
	border-radius: 50%;
	box-shadow: inset 0px 0px 10px 30px theme('colors.js-black');
	transition-delay: 0s, 0s, 0.1s;
  animation: btn-hover-weird 1.8s cubic-bezier(0.7, 0, 0.2, 1) infinite;
}

@keyframes btn-hover-weird {
  0% {
    box-shadow: inset 0px 0px 0px 7px theme('colors.js-black');
    color: theme('colors.js-black');
  }

  50% {
    box-shadow: inset 0px 0px 15px 30px theme('colors.js-black');
    color: theme('colors.js-white');
  }

  50% {
    box-shadow: inset 0px 0px 20px 40px theme('colors.js-black');
    color: theme('colors.js-white');
  }

  50% {
    box-shadow: inset 0px 0px 15px 30px theme('colors.js-black');
    color: theme('colors.js-white');
  }

  100% {
    box-shadow: inset 0px 0px 0px 7px theme('colors.js-black');
    color: theme('colors.js-black');
  }
}

/* Guy at the bottom alignment */
.tuka {
  right: -2.5rem;
  bottom: -3.5rem;
}

/* Overpass underline */
a.overpass-underline {
  @apply font-overpass-mono font-light uppercase;
  position: relative;
  display: inline-block;
  outline: none;
  font-size: 2.5ch;
  letter-spacing: 0.1em;
  line-height: 1.3;
}

a.overpass-underline:before {
  content: '';
  position: absolute;
  bottom: 0.3ch;
  width: 100%;
  max-width: 100%;
  height: 2px;
  background-color: theme('colors.js-black');
}

a.overpass-underline-no-line {
  @apply font-overpass-mono font-light uppercase;
  position: relative;
  display: inline-block;
  outline: none;
  font-size: 2.5ch;
  letter-spacing: 0.1em;
  line-height: 1.3;
}

/* Wiggly SVG Link */
.wiggly-svg-link {
  position: relative;
  overflow: hidden;
}

.wiggly-svg-link svg {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  fill: none;
  stroke: theme('colors.js-black');
  top: -3px;
  stroke-width: 3px;
  transition: transform 0.7s;
  transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}

.wiggly-svg-link:hover svg {
  transform: translate3d(-66.6%, 0, 0);
}