.hero-mux-player {
  background-color: #000;
  --controls: none;
  --media-object-fit: cover;
  position: absolute;
  inset: 0;
  top: 0;
  left: 0;
}

.hero-mux-player::part(gesture-layer) {
  display: none;
}
